@font-face {
    font-family: rAndC;
    src: url(../font/r&c.otf);
}

@font-face {
    font-family: typo;
    src: url(../font/typo_draft.otf);
}

@font-face {
    font-family: comfortaa_l;
    src: url(../font/comfortaa_light.ttf);
}

@font-face {
    font-family: comfortaa_r;
    src: url(../font/comfortaa_regular.ttf);
}





h1 {
    color: white;
    text-align: center;
    font-family: typo;
    font-size: 3.2vmax;
    letter-spacing: 0.8vmax;
}







#binary-snow {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* to make the canvas go to the background*/
}

#main_letter_s{
    font-family: rAndC;
    font-size: 7vmax;
}

#main_title{
    padding-top: 4vmax;
}

#caption{
    color: #a7a7a7;
    text-align: center;
    font-family: comfortaa_l;
    font-size: 0.9vmax;
}

#copyright{
    position:absolute;
    width:100%;
    bottom:0;
    text-align: center;
    color: #d0d0d0;
    font-family: comfortaa_l;
    letter-spacing: 0.1vmax;
    font-size: 0.7vmax;
    margin-bottom: 1.5vmax;
}

#github_link{
    color:#d0d0d0;
}

#github_link:hover{
    text-decoration: none;
}





.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
  }